.input {
    width: 100%;
    height: 7px;
    position: absolute;
    cursor: pointer;
    appearance: none;
    pointer-events: none;
    z-index: 10;
    background: none;
}

input::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    border: 1px solid #b0b0b0;
    background-color: #374d9a;
    pointer-events: auto;
}
